:root {
    --primary: black;
    --fonts: #D3D3D3;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    /* border: 1px solid black; */
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Navbar start*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 200;
}
.container {
    padding: 1.4rem;
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}
.navbar .container .navbar-logo {
   color: white;
   font-size: 1rem;
   font-weight: 700;
   font-style: italic;
}
.navbar .container .navbar-logo span {
    color: var(--fonts);
    font-weight: 200;
}

.navbar .container .navbar-nav a {
    display: inline-block;
    color: white;
    font-weight: 200;
    margin: 1rem;
}

.navbar .container .navbar-nav a:hover {
    color: var(--fonts);
}

.navbar .container .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--fonts);
    transform: scaleX(0);
    transition-duration: 0.2s;
}

.navbar .container .navbar-nav a:hover::after {
    transform:scaleX(0.5);
}

.navbar .container .extra-navbar .button-sign {
    color: black;
    font-size: 10px;
    background-color: var(--fonts);
    padding: 0.3rem 1rem;
    border-radius: 5px;
    cursor:pointer;
    font-weight: 500;
}
.navbar .container .extra-navbar .button-sign:hover {
    background-color: white;
    color: black;
}
.navbar .container .extra-navbar {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container .extra-navbar a{
    font-weight: 200;
    color: white;
    margin: 0 0.5rem;
}
.navbar .container .extra-navbar a:hover {
    color: var(--fonts);
}

#humberger-menu {
    display: none;
}

/* Media Queries */

/* Laptop */
@media(max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */ 

@media(max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #humberger-menu {
        display: inline-block;
    }

    .navbar .container .navbar-nav {
        position: absolute;
        width: 30rem;
        height: 50vh;
        top: 100%;
        right: -100%;
        background-color: black;
        border-radius: 10px;
        padding: 1rem;
        transition: 0.5s;
    }

    .navbar .container .navbar-nav.active {
        right: 0;
        margin-right: 20px
    }

    .navbar .container .navbar-nav .sign-nav {
        display: flex;
        margin: 1rem;
        
    }

    .navbar .container .navbar-nav .sign-nav a {
        background-color: rgb(128, 128, 128, 0.5);
        padding: 0.5rem;
        border-radius: 5px;
        color: rgb(255, 255, 255);
        font-weight: 400;
    }
    .navbar .container .navbar-nav .sign-nav .button-sign {
        text-align: center;
        width: 100px
    }

    .navbar .container .navbar-nav a {
        display: block;
        font-size: 1rem;
    }

    .navbar .container .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .container .navbar-nav a:hover:after {
        transform: scaleX(0.2)
    }


    .navbar .container .extra-navbar .sign-nav a, img{
        display: none;
    }
}

/* Mobile phone */

@media(max-width: 450px) {
    html {
        font-size: 50%;
    }
}

/* Navbar end */